*{margin:0; padding:0;}
#container{
  width:100vw;
  height:100vh;
  background-color: #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root{
  width:428px;
  height:926px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content:end;
}


/* main */



#root>div{
  width:100%;
  height:55%;
  background-color: #7f7f7f;
  border-radius: 20px 20px 0px 0px;
  /* display:flex ;
  flex-direction: column;
  justify-content: space-around; */
}

#root>div>div{
  /* border: 1px solid black; */
}

/*     기본 설정     */



/* 제목 */
#root>div>div:nth-child(1){
  width:100%;
  height:20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


#root>div>div:nth-child(1)>div:nth-child(2){
  display: flex;

}

#root>div>div:nth-child(1)>div:nth-child(2)>div{
  position: relative;
  left:20px;
  top:-10px;
  margin:5px;
  width: 10px;
  height:10px;
  border-radius: 5px;
  background-color:white ;
}




/* 아이디*/
#root>div>div:nth-child(2){
  width:95%;
  height:20%;
  position: relative;
  left:5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

#root>div>div:nth-child(2)>div:nth-child(1){
  color:aliceblue;
  font-size: large;
}

#root>div>div:nth-child(2)>div:nth-child(2){
  background-color: white;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height:40%;
  border-radius: 30px;
}


/* 비밀번호 */
#root>div>div:nth-child(3){
  width:95%;
  height:20%;
  position: relative;
  left:5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

#root>div>div:nth-child(3)>div:nth-child(1){
  color:aliceblue;
  font-size: large;
}

#root>div>div:nth-child(3)>div:nth-child(2){
  background-color: white;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height:40%;
  border-radius: 30px;

}

/* 로그인 */
#root>div>div:nth-child(4){
  width:97%;
  height:40%;
  display: flex;
  flex-direction: column;
  /* justify-content: right; */
  align-items: flex-end;
}

#root>div>div:nth-child(4)>div:nth-child(2){
  width:50%;
  height:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 30px;
  top:20px;
  font-size: larger;
  background-color: #c8c8c8;
}

#root>div>div:nth-child(4)>div:nth-child(3){
  position: relative;
  top:20px;
}